extends layout

block header
  script(src="javascripts/championsleaguedraw.js")

block content
  h1= title
  p Welcome to #{title}

  div.formArea

  - if(error)
    div.error #{error}

  div.mainArea