extends layout

block content
  h1= title
  p Welcome to #{title}

  div
    form(method='get', action='/championsleaguedraw')
      button(type="submit") Simulate Champions League Draw

  div
    form(method="get", action="/europaleaguedraw")
      button(type="submit") Simulate Europa League Draw